.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: rgb(249, 180, 90);
}

.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display.winter i {
  color: rgb(119, 119, 156);
}

.season-display.summer i {
  color: rgb(181, 100, 100);
}

.border {
  border: 5px solid grey;
}
